In [1]:
print("hello, world")

hello, world

In [3]:
print("hello"+"world")

helloworld

In [13]:
print("hello","world")

hello world

In [21]:
#The generic type for java is System.out.println() 
#but for Py its print("data", sep="type of sperator", end="type of end")
print("hello","world", sep=" ", end=" -> ")
print("im","learning", sep=" ", end=" -> ")
print("coding","to","mastery", sep=" ", end=".")

hello world -> im learning -> coding to mastery.

In [49]:
#for taking input from the user, its a = input(), note the default datatype is String always
string = input();

 History

In [51]:
string

'History'

In [55]:
#id helps in telling the id where the data is stored in the memory
id(str)

2264430836592

In [45]:
#type function is used in order to tell the type of data that is being stored
type(str)
a = 254
b = 25.4
c = True
#type(a)
#type(b)
#type(c)

In [57]:
#memory is stored as - variables in a stack, whereas data in heap
#and the variables refer the value from the heap in order like how pointers are used in Java

In [62]:
#Arithematic Operators are +,-,*,/,%,**,//

In [66]:
#Strings can be made to concate more than 2 times by multiplying them
string*5

'HistoryHistoryHistoryHistoryHistory'

In [72]:
#// floor division works so that it returns the left-most integer on the nunmber line
#let that be a positive or negative division
d = 22
e = -22
a//e

-12

In [74]:
#Comparison Operators are of the following type ==,!=, < and >, <= and >=

In [76]:
#Assignment Operators are of the following type =,-=,+=,*=,/=

In [78]:
#Logical operators are of the following types and, or, not

In [82]:
#Special operators are of the following types in operator and is operator
#in operator tells if you if the object is a part of that object or not
str2 = 'Meenakshi'

In [84]:
str2

'Meenakshi'

In [86]:
'M' in str2

True

In [88]:
'Meena' in str2

True

In [90]:
'Mena' in str2

False

In [ ]:
#is operator is used to determine whether two objects are present at the same location or not
#in basic sense if(id(a)==id(b))?True:False